.App {
  text-align: center;
}
.blog{
  padding:40px;
  box-shadow: 3px 5px 7px rgb(158, 158, 158);
  border-radius: 10px;
}
.card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0px 20px 50px 20px;
}

